@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Employees</h1>
    <p>Please check the Assigned Projects-tab for information about your upcoming projects.</p>
</div>
